* {box-sizing: border-box;}
body {
    min-height: 100vh;
    background-color: #91f5f8; 
       color: #fffd89;
       font-family: Arial, Verdana, sans-serif; 
       margin: 0;
}
header {
    background-color: #0de932;
       color: #FFFFFF;
       font-family: Georgia, serif;
       padding: 1em;
}
header a {text-decoration: none;}
header a:link {color: #FFFFFF;}
header a:visited {color:#FFFFFF;}
header a:hover {color: #90C7E3;}
main {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    display: block;
}
h1 {
    text-align: center;
    font-size: 1.5em;
    color: #8b4513;
}
h2 {
    color: #0de932; 
	font-family: Georgia, serif; 
}
h3 {
	font-family: Georgia, serif;
    color: rgb(189, 63, 189)
}
nav {
    font-weight: bold;
    text-align: center;
    background-color: #0de932;
    font-size: 1.2 em;
}
nav a {text-decoration: none;}
nav a:link {color: #91f5f8;}
nav a:visited {color: #8b4513;}
nav a:hover {color: #e41d1d;}
nav ul {
    text-decoration: none;
    list-style-type: none;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
}
nav li {
    padding-bottom: .5em;
    padding-top: .5em;
    padding-right: 1em;
    padding-left: 1em;
    width: 100%;
    border-bottom: solid 1px;
}
dt {
    color: #002171;
    font-weight: bold; 
}
.title {
    color: #e41d1d;
        font-size: 1.2em; 
    }
footer {
    color: #e41d1d;
    font-size: .70em;
    font-style: italic; 
    text-align: center; 
    padding: 1em;
    background-color: #000000;
}
section {
    padding-left: .5em;
    padding-right: .5em;
}
#wrapper {
    background-color: #000000;
}
#homehero {
    height: 300px;
    width: auto;
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
#gameplayhero {
    height: 600px;
    max-width: auto;
    background-image: url(discussion.png);
    background-repeat: no-repeat;
    background-position: center;
}
#developmenthero {
    height: 400px;
    max-width: auto;
    background-image: url(sunnyinnocent.png);
    background-repeat: no-repeat;
    background-position: center;
}
#historyhero {
    height: 300px;
    max-width: auto;
    background-image: url(notpsychic.png);
    background-repeat: no-repeat;
    background-position: center;
}
#joinhero {
    height: 300px;
    max-width: auto;
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
#questionshero {
    height: 300px;
    max-width: auto;
    background-image: url(questionmarks.png);
    background-repeat: no-repeat;
    background-position: center;
}
#mobile {
    display: inline;
}
#desktop {
    display: none;
}
form {
    display: flex;
    flex-direction: column;
    padding-left: 1em; width: 80%;
}
input, textarea {
    margin-bottom: .5em;
}
/* Medium Display */
@media (min-width: 600px) {
    h1 {
        font-size: 2em;
        letter-spacing: .25em;
    }
    nav li {
        width: 12em;
        border-bottom: none; 
    }
    nav ul {
        text-align: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding-right: 2em;
    }
    section {
        padding-left: 2em;
        padding-right: 2em;
    }
    #flow {
        display: flex;
        flex-direction: row;
    }
    #mobile {
        display: none;
    }
    #desktop {
        display: inline;
    }
    form {
        display: grid;
        width: 60%;
        grid-gap: 1em;
        grid-template-columns: 10em 1fr;
    }
    input[type="submit"] {
        grid-column: 2 / 3;
        width: 9em;
    }
    
}
/* Large Display */
@media (min-width: 1024px) {
    body {background-image: linear-gradient(to bottom, #0de932 20%, #e41d1d 60%, #91f5f8 100%);}
    nav ul {
        padding-right: 10%;
        padding-left: 10%;
    }
    #wrapper {
        margin: auto;
        width: 80%
    }
} 